body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

input {
    margin-left: 10px;
    border: 2px inset brown;
    border-radius: 4px;
    width: 20%;
    padding: 5px;

}

table {
    margin: 20px auto;
    border: 2px solid brown;
    border-radius: 4px;
}

td {
    width: 10%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead td {
    font-weight: bold;
}

button {
    width: 20%;
    margin: 5%;
    padding: 8px;
    border: 2px solid brown;
    background-color: burlywood;
    font-weight: bold;
}
